h1, h2, h3 {
  /*for full page size */
  height: 100%;
  margin: 0;
  font-family: poppins;
  color: black;
}

/*
@font-face {
  font-family: poppins;
  src: url(Poppins-Light.ttf);
}
*/

* {
  font-family: poppins;
}

/*
body, html {
  /*for full page size */
  /*
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*/

/* Style tab links */
.tablink {
  background-color: white;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
  transition: cubic-bezier();
}

/* Style the tab content */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  /* for full page size */
  height: 100%;
}

#Home {background-color: white;}
#About {background-color: white;}
#Resume {background-color: white;}
#Projects {background-color: white;}

