h1, html {
  /*for full page size */
  height: 100%;
  margin: 0;
  font-family: poppins;
}

@font-face {
  font-family: poppins;
  src: url(https://github.com/SarahCoffland/SarahCoffland.github.io/blob/main/Poppins-Light.ttf);
}

* {
  font-family: poppins;
}

h2 {
  font-family: poppins;
  color: pink;
  font-size: 40px;
}
h3 {
  font-family: poppins;
}

body, html {
  /*for full page size */
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Style tab links */
.tablink {
  background-color: #e7f5fe;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  /* for full page size */
  height: 100%;
}

#Home {background-color: black;}
#About {background-color: black;}
#Resume {background-color: black;}
#Projects {background-color: black;}

