h1, h2, h3 {
  /*for full page size */
  height: 100%;
  margin: 0;
  font-family: poppins;
  color: black;
}

@font-face {
  font-family: poppins;
  src: url(Poppins-Light.ttf);
}

body {
  /*for full page size */
  height: 100%;
  margin: 0;
  font-family: poppins;
}

/* Style tab links */
.tablink {
  background-color: inherit;
  float: left;
  transition: 0.3s;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

.tab button.active {
  background-color: #535353;
}

.alignLeft {
  float: left;
}

.alignRight {
  float: right;
}

.alignCenter {
  text-align: center;
}

/* Style the tab content */
.tabcontent {
  color: black;
  display: none;
  padding: 80px 300px;
  /* for full page size */
  height: 100%;
}

#Home {background-color: white;}
#About {background-color: white;}
#Resume {background-color: white;}
#Projects {background-color: white;}

